<section class="ov-component" id="submenu_component">
    <h2>
        Menu / Short Eats
    </h2>

    <ul class="product_list">
        <li *ngFor="let x of [0,1,2]">
            <a routerLink="">
                <div class="row">
                    <div class="col-xs-3">
                        <img src="/assets/v_burger.jpg" alt="">
                    </div>
                    <div class="col-xs-6">
                        <h4>
                            Vegan Burger
                        </h4>
                        <p class="product_desc">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit deserunt dolor dolores.
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <p class="price">
                            <strong>
                                300 LKR
                            </strong>
                        </p>
                    </div>
                </div>
            </a>
        </li>
        

    </ul>
</section>