<section class="ov-component" id="cart_component">
    <div *ngIf="!no_cart_items">
        <h2 >
            Your cart items
        </h2>
        <!-- show this list if only cart items are available-->
        <ul class="product_list">
            <li *ngFor="let cart_item of cart_items">
                <a>
                    <div class="row">
                        <div class="col-xs-3">
                            <img src="/assets/v_burger.jpg" alt="">
                        </div>
                        <div class="col-xs-6">
                            <h4>
                                {{cart_item.product.title}}
                            </h4>
                            <p class="product_desc">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </p>
                        </div>
                        <div class="col-xs-3">
                            <p class="price">
                                <strong>
                                    {{cart_item.product.price}} LKR  - {{cart_item.quantity}}
                                </strong>
                            </p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

        <button class="btn_rounded_orange">Place the order</button>
        <button class="btn_rounded_green" [routerLink]="['/menu']"> Add more products </button>
    </div>

    <div *ngIf="no_cart_items">
        <h5 class="text-center">
            No cart items found
        </h5>
        <button class="btn btn_black" routerLink="/menu">Check the food menu</button>
    </div>
</section>