<section id="register_component" class="ov-component">

    <p>
        &nbsp;
    </p>
    <a routerLink="/home" class="logo_small">
        <img src="/assets/logo_small.svg" alt="">
    </a>
    <p>
        &nbsp;
    </p>

    <form class="ov-form"
          #loginForm="ngForm"
          (ngSubmit)="register(loginForm.value)">
        <input type="text"
               name="email"
               class="form-control"
               placeholder="Email Address"
               required
               ngModel

        >
        <input type="text"
               name="username"
               class="form-control"
               placeholder="Username"
               required
               ngModel

        >
        <input type="password"
               name="password"
               class="form-control"
               placeholder="Password"
               required
               ngModel>
        <input type="password"
               name="confirm_password"
               class="form-control"
               placeholder="Confirm Password"
               required>
        <button type="submit">
            Create an account
        </button>
    </form>

    <p class="text-center">
        <a class="ov-link-small" routerLink="/login">
            Have an account ? Login here
        </a>
    </p>
    <div class="clearfix"></div>

</section>