<section id="home_component">
    <div class="logo">
        <img src="/assets/logo.svg" alt="">
    </div>

    <button class="btn btn_black" routerLink="/login">Sign in to order</button>
    <p class="or">
        or
    </p>
    <button class="btn btn_black" routerLink="/menu">Check the food menu</button>


    <div *ngIf="show">
        <p style="color:#fff;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores dolorem et fugiat, illum magnam neque nostrum odio quae quam rem, similique sint suscipit totam! Alias cumque nihil repudiandae suscipit velit.
        </p>
    </div>

</section>
