* {
    margin: 0px;
    padding: 0px;
    font-family: 'Muli', sans-serif;
}

app-root {
    width: 320px;
    height: 568px;
    overflow: hidden;
    position: absolute;
    margin: 0 auto;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 15px #d8d8d8;
    -moz-box-shadow: 0px 0px 15px #d8d8d8;
    box-shadow: 0px 0px 15px #d8d8d8;

    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -249px;

}

#home_component {
    background: url('../splash.jpg') center center no-repeat;
    background-size: cover;
    min-height: 568px;
    padding: 10px;
}

#home_component .logo {
    margin: 140px auto 0 auto;
    width: 100%;
}

#home_component .logo img {
    display: block;
    margin: 0 auto;
}

.btn_black {
    border-radius: 50px;
    border: thin solid #50E3C2;
    height: 44px;
    width: 270px;
    display: block;
    margin: 30px auto;
    background: rgba(0, 0, 0, 0.50);
    color: #50E3C2;
    outline: 0;

}

.btn_black:hover {
    color: #fff;
}

p.or {
    color: #d8d8d8;
    text-align: center;
    margin: 0 auto;
}

header {
    position: absolute;
    z-index: 3000;
    width: 100%;
}

header nav {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
    width: 100%;
    height: 568px;
}

header #user_profile {
    position: relative;
    padding: 44px 30px 0px 30px;
}

header .user_image {
    float: left;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    background: #fff;
    margin-right: 15px;
    overflow: hidden;

}

header .user_image img {
    width: 100%;
}

header .user_info h2 {
    font-size: 16px;
    color: #4A4A4A;
    margin: 0px;
    padding-top: 15px;
}

header .user_info p {
    font-size: 12px;
    color: #838383;
}

header nav ul.menu {
    margin: 0px;
    padding: 0px 30px 30px 30px;
}

header ul.menu li {
    list-style: none;
}

header ul.menu li span {
    display: inline-block;
    width: 20px;

}

header ul.menu li span img {
    width: 100%;
    max-width: 16px;
}



header ul.menu li a,
header ul.menu-footer li a {
    color: #555555;
    font-size: 15px;
    padding: 15px 0px;
    display: inline-block;
    margin-left: 7px;
}

header ul.menu-footer {

}

#menu_icon {
    width: 44px;
    height: 44px;
    margin-left: 10px;
    position: absolute;
    z-index: 4000;
    left: 0px;
    top: 0px;
}

#menu_icon a {
    display: block;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 42px;
    border: none;
    outline: 0;
}




