<header>
    <div id="menu_icon"
         (click)="showHideMenu()">
        <a><img src="/assets/menu.svg" alt=""></a>
    </div>
    <div id="cart_icon">
        <span id="qty">
            0
        </span>
        <a routerLink="/cart">
            <img src="/assets/cart_white.svg" alt=""></a>
    </div>
    <nav id="side_menu"
         (click)="showHideMenu()"
         [ngClass]="{'active':side_menu}">
        <div id="user_profile" *ngIf="user">
            <div class="user_image">
                <img [src]="'/assets/'+user.image" alt="" *ngIf="user.image">
                <img src="/assets/default.svg" alt="" *ngIf="!user.image">
            </div>
            <div class="user_info">
                <h2>
                    <strong>
                        {{user.name}}
                    </strong>
                </h2>
                <p>
                    {{user.role}}
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="menu" [ngClass]="{'moveDown':!user}">
            <li>
                <span>
                    <img src="/assets/grid.svg" alt="">
                </span>
                <a routerLink="/menu"
                   routerLinkActive="active"> Menu</a>
            </li>
            <li>
                <span><img src="/assets/cart.svg" alt=""></span>
                <a
                        routerLink="/cart"
                        routerLinkActive="active">
                    Cart
                </a>
            </li>
            <li>
                <span>
                    <img src="/assets/settings.svg" alt="">
                </span>
                <a routerLink="/settings"
                   routerLinkActive="active">
                    Settings
                </a>
            </li>
            <li>
                <span>
                    <img src="/assets/orders.svg" alt="">
                </span>
                <a routerLink="/orders"
                   routerLinkActive="active">
                    Orders
                </a>
            </li>
            <li>
                <span>
                        <img src="/assets/message.svg" alt="">
                    </span>
                <a routerLink="/feedback" routerLinkActive="active">
                    Feedback
                </a>
            </li>
            <li class="space"></li>
        </ul>
        <ul class="menu-footer">




            <li>



                <a routerLink="/login" *ngIf="!isLoggedIn"
                   routerLinkActive="active"
                   class="btn_rounded_green">
                    Sign in
                </a>

                <a routerLink="/home" (click)="logout()" *ngIf="isLoggedIn"
                   class="btn_rounded_green btn_rounded_orange">
                    Logout
                </a>




                <a routerLink="/register" *ngIf="!isLoggedIn"
                   routerLinkActive="active"
                   class="btn_rounded_green">
                    Register
                </a>
            </li>
        </ul>
    </nav>
</header>