<header>
    <div id="menu_icon">
        <a href="#"><img src="/assets/menu.svg" alt=""></a>
    </div>
    <nav>
        <div id="user_profile">
            <div class="user_image">
                <img src="/assets/user.jpg" alt="">
            </div>
            <div class="user_info">
                <h2>
                    {{ my_date| date}}
                </h2>
                <p>
                    Designer
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul class="menu">
            <li>
                <a routerLink="menu"> <span>
                    <img src="/assets/grid.svg" alt="">
                </span> Menu</a>
            </li>
            <li>
                <span><img src="/assets/cart.svg" alt=""></span><a href="#">Cart</a>
            </li>
            <li>
                <span>
                    <img src="/assets/settings.svg" alt="">
                </span>
                <a href="#">
                    Settings
                </a>
            </li>
            <li>
                <span>
                    <img src="/assets/orders.svg" alt="">
                </span>
                <a href="#">
                    Orders
                </a>
            </li>
        </ul>

        <ul class="menu-footer">
            <li>
                <span>
                        <img src="/assets/signout.svg" alt="">
                    </span>
                <a href="#">
                    Sign Out
                </a>
            </li>
        </ul>

        <a href="#" class="btn_login">
            LOGIN
        </a>
    </nav>
</header>