<section id="home_component">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Menus
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad amet commodi, dicta
                    distinctio, enim
                    est illo ipsa iusto obcaecati optio quibusdam quo quos repellat reprehenderit, soluta ullam vero
                    vitae.
                </p>
            </div>
        </div>
    </div>
</section>